.btn{
  margin: 0 1%;
  padding: 6px;
  border-radius: 5px;
  color: revert;
  background-color: aquamarine;
  }
  .todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  
  .input-box {
    width: 30%;
    height: 25px;
    border: 1px solid black;
    padding: 2px;
  }
  
